@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  font-family: "poppins", sans-serif;
}

.hero {
  background: #6e00ff;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

a {
  font-size: 1rem;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  /* width: 200px; */
  font-weight: bold;
  color: #ff64cb;
}

.meet > a {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1050px) {
  .hero {
    /* height: 90vh; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }

  .content {
    background: #6E00FF;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }

  h1 {
    font-size: 3em;
    line-height: 1.2em;
  }

  .meet {
    margin: unset;
  }
}

@media only screen and (min-width: 1250px) {
    .content {
        padding: 6em 8em 6em 10em;
      }
}

@media only screen and (min-width: 1550px) {
    .content {
        padding: 9em 20em 6em 20em;
      }
}
