.square-anim {
    height: 172px;
    width: 172px;
}

@media only screen and (min-width: 1050px) {
    .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
}