.items {
  background-color: #eee;
  width: 260px;
  height: 314px;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
}

.items:hover {
  -webkit-box-shadow: 10px 10px 20px grey;
  box-shadow: 10px 10px 20px grey;
}

.items:active {
  -webkit-box-shadow: inset 10px 10px 20px grey;
  box-shadow: inset 10px 10px 20px grey;
}

.item {
  height: 100%;
}

.logo {
  margin: 10px;
}

.name {
  margin: 10px;
}

h3 {
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: #333;
  font-family: "poppins", poppins, arial, sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h3:visited {
  text-decoration: none;
}
