.nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
  }
  
  li {
    list-style: none;
    padding: 0 15px;
  }
  
  a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff3d00;
  }
  
  